body {
/*  height: 928px;*/
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
}

/*=======Header========*/

header { 
  background: #404041;
  font-family: 'Open Sans', sans-serif;
  height: 15%;
}

h1 {
  font-size: 4.3em;
  margin: 0px auto;
  position: relative;
  text-align: center;
  width: 100%;
  color: #ED458B;
  font-weight: 700;
}

.guesser {
  color: #E6E7E8;
  font-weight: 300;
}

/*==========Body-Guess=========*/

article {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
}

.user-input {
  border: 2px thin #D0D2D3;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.1em;
  font-weight: 300;
  height: 50px;
  margin: 59px 0px 51px 0px;
  width: 528px; 
}

.user-input::placeholder {
  color: #D0D2D3;
}

.guess-clear-btns {
  display: flex;
  flex-direction: row;
}

.guess-btn {
  background-color: #929497;
  border-radius: 27px;
  /*box-sizing: border-box;*/
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.1em;
  height: 53px; 
  margin: 0px 18px 085px 0px;
  width: 244px;
}

.counter-box {
  border: solid black 1px;
}

.clear-btn {
  background-color: #929497;
  border-radius: 27px;
  /*box-sizing: border-box;*/
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.1em;
  height: 53px; 
  margin: 0px 0px 85px 23px;
  width: 244px;
}

.clear-btn:hover,
.guess-btn:hover {
  background-color: #EB008B;
  color: #FFFFFF;
}

.choice {
display: flex;
flex-direction: column;
  width: 360px;
}

.last-guess {
  box-sizing: border-box;
  color: #EB008B;
  font-family: 'Open Sans', sans-serif;
  font-size: 14.9em;
  font-weight: 300;
  height: 267.5px;
  line-height: 1.03em;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  width: 360px;
}

h3 {
  box-sizing: border-box;
  color: #404041;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2em;
  font-weight: 300;
  height: 37.5px;
  line-height: 1em;
  margin: 0px;
  text-align: center;
  width: 360px;
}

.reset {
  height: 19.83%;
  margin: 0px auto;
  width: 530px;
}

.reset-btn {
  background-color: #929497;
  border-radius: 27px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  height: 46px;
  margin: 78px 0px 60px 0px;
  width: 527px;
}

.reset-btn:hover {
  background-color: #EB008B;
  color: #FFFFFF;
}

